
body {
  background-color: #E8ECEF;
}

.dynamic-btn:hover{
  background-color: #E8ECEF;
  border-color: #C8C8C8;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
